<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${apps.id}"></td>
                    <th>APP名称</th>
                    <td th:text="${apps.appName}"></td>
                </tr>
                <tr>
                    <th>APP版本</th>
                    <td th:text="${apps.appVersion}"></td>
                    <th>APP包名</th>
                    <td th:text="${apps.appPkgName}"></td>
                </tr>
                <tr>
                    <th>APP下载链接</th>
                    <td th:text="${apps.appDownloadUrl}"></td>
                    <th>创建者</th>
                    <td th:text="${apps.createBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>APP类型</th>
                    <td th:text="${#dicts.keyValue('APP_TYPE',apps.appType)}"></td>
                    <th>最长执行时间</th>
                    <td th:text="${apps.maxRunSeconds}"></td>
                </tr>
                <tr>
                    <th>更新者</th>
                    <td th:text="${apps.updateBy?.nickname}"></td>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(apps.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(apps.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>备注</th>
                    <td th:text="${apps.remark}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>