<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
    <div class="layui-card">
        <div class="layui-card-header timo-card-header">
            <span><i class="fa fa-bars"></i> APP管理管理</span>
            <i class="layui-icon layui-icon-refresh refresh-btn"></i>
        </div>
        <div class="layui-card-body">
            <div class="layui-row timo-card-screen">
                <div class="pull-left layui-form-pane timo-search-box">
                    <div class="layui-inline">
                        <label class="layui-form-label">APP名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="appName" th:value="${param.appName}" placeholder="请输入APP名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">APP类型</label>
                        <div class="layui-input-block timo-search-status-long">
                            <select class="timo-search-select-long" name="appType" mo:dict="APP_TYPE" mo-selected="${param.appType}" mo-empty="全部"></select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn timo-search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="pull-right screen-btn-group">
                    <button class="layui-btn open-popup" data-title="添加APP" th:attr="data-url=@{/cloud/apps/add}" data-size="auto">
                        <i class="fa fa-plus"></i> 添加</button>
                </div>
            </div>
            <div class="timo-table-wrap">
                <table class="layui-table timo-table">
                    <thead>
                    <tr>
                        <th class="timo-table-checkbox">
                            <label class="timo-checkbox"><input type="checkbox">
                                <i class="layui-icon layui-icon-ok"></i></label>
                        </th>
                        <th class="sortable" data-field="id">主键ID</th>
                        <th class="sortable" data-field="appName">APP名称</th>
                        <th class="sortable" data-field="appVersion">APP版本</th>
                        <th class="sortable" data-field="appPkgName">APP包名</th>
                        <th class="sortable" data-field="appType">APP类型</th>
                        <th class="sortable" data-field="maxRunSeconds">最长执行时间</th>
                        <th>APP下载链接</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item:${list}">
                        <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                            <i class="layui-icon layui-icon-ok"></i></label></td>
                        <td th:text="${item.id}">主键ID</td>
                        <td th:text="${item.appName}">APP名称</td>
                        <td th:text="${item.appVersion}">APP版本</td>
                        <td th:text="${item.appPkgName}">APP包名</td>
                        <td th:text="${#dicts.keyValue('APP_TYPE',item.appType)}">APP类型</td>
                        <td th:text="${item.maxRunSeconds}">最长执行时间</td>
                        <td th:text="${item.appDownloadUrl}">APP下载链接</td>
                        <td th:text="${item.remark}">备注</td>
                        <td>
                            <a class="open-popup" data-title="编辑APP" th:attr="data-url=@{'/cloud/apps/edit/'+${item.id}}" data-size="auto" href="#">编辑</a>
                            <a class="open-popup" data-title="详细信息" th:attr="data-url=@{'/cloud/apps/detail/'+${item.id}}" data-size="800,600" href="#">详细</a>
                            <a class="ajax-get" data-msg="您是否确认删除" th:href="@{/cloud/apps/status/delete(ids=${item.id})}">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="/common/fragment :: page"></div>
        </div>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>