<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/cloud/license/update}">
        <input type="hidden" name="id" th:if="${license}" th:value="${license.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">代理商</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="agent" placeholder="请输入代理商" th:value="${license?.agent}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邀请码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="invitationCode" placeholder="请输入邀请码" th:value="${license?.invitationCode}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否使用</label>
            <div class="layui-input-inline">
                <select name="isUsed" mo:dict="IS_USED" mo-selected="${license?.isUsed}" lay-verify="isUsed"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邀请码类型</label>
            <div class="layui-input-inline">
                <select name="type" mo:dict="LICENSE_TYPE" mo-selected="${license?.type}" lay-verify="type"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">激活时间</label>
            <div class="layui-input-inline">
                <input class="ctime layui-input" type="text" name="activationDate" readonly placeholder="请输入激活时间" th:value="${license?.activationDate}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">过期时间</label>
            <div class="layui-input-inline">
                <input class="ctime layui-input" type="text" name="expireDate" readonly placeholder="请输入过期时间" th:value="${license?.expireDate}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${license?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>